/*reset*/
.blue {
    color: #049eff!important;
    background: transparent!important;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
.red {
    color: #ff2e67;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, th, var, i {
    font-weight: normal;
    font-style: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 18px
}

h2 {
    font-size: 16px
}

h3 {
    font-size: 14px
}

h4 {
    font-size: 14px
}

h5 {
    font-size: 12px
}

h6 {
    font-size: 12px
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #CDCDCD;
    background-color: #CDCDCD;
    height: 1px
}

blockquote {
    color: #666;
    font-style: italic;
}

sup, sub {
    line-height: 0
}

abbr, acronym {
    border-bottom: 1px dotted #666
}

pre {
    white-space: pre;
}

pre, code, tt {
    font: 12px 'andale mono', 'lucida console', monospace;
    line-height: 1.5
}

/*clear clearfix*/
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

.sd-left {
    display: inline;
    float: left;
}

.sd-right {
    display: inline;
    float: right;
}

@font-face {
    font-family: 'iconfont_try';
    src: url('http://at.alicdn.com/t/font_1434596668_082772.eot');
    src: url('http://at.alicdn.com/t/font_1434596668_082772.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1434596668_082772.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1434596668_082772.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1434596668_082772.svg#iconfont') format('svg');
}

.iconfont_try {
    font-family: 'iconfont_try';
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}

/* text type */
html {
    overflow-y: scroll;
}

body, button, input, select, textarea {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #444444;
}

textarea {
    overflow: auto;
}

/* header */
/*#header {*/
    /*position: relative;*/
    /*background: #fff;*/
    /*z-index: 1000;*/
    /*font-size: 12px*/
/*}*/

#header .userinfobar {
    position: relative;
    height: 30px;
    background-color: #333333;
    zoom: 1;
}

#header .uinfo_wrap {
    width: 950px;
    height: 30px;
    margin: 0 auto;
    position: relative;
}

.uinfo_wrap a:link, .uinfo_wrap a:visited {
    color: #969696;
    text-decoration: none;
}

.uinfo_wrap a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.header_site_act {
    float: left;
}

.header_site_act ul {
    float: left;
}

.header_site_act .mobile_link {
    float: left;
    width: 97px;
    height: 30px;
    margin-right: 20px;
}

.header_site_act .mobile_link a {
    display: block;
    height: 24px;
    margin-top: 3px;
    background-image: url(../images/bg_new.png);
    background-repeat: no-repeat;
    background-position: -105px -161px;
}

.header_site_act li {
    float: left;
    margin-right: 15px;
}

.header_site_act li a {
    padding-left: 16px;
    background-image: url(../images/bg_new.png);
    background-repeat: no-repeat;
    line-height: 30px;
    display: block;
    float: left;
    height: 30px;
}

.header_site_act li a.favorites_sodao:link, .header_site_act li a.favorites_sodao:visited {
    background-position: -220px 10px;
}

.header_site_act li a.favorites_sodao:hover {
    background-position: -220px -22px;
}

.header_site_act li a.index_sodao:link, .header_site_act li a.index_sodao:visited {
    background-position: -220px -54px;
}

.header_site_act li a.index_sodao:hover {
    background-position: -220px -86px;
}

.header_site_act li a.download_app:link, .header_site_act li a.download_app:visited {
    background-position: -220px -119px;
}

.header_site_act li a.download_app:hover {
    background-position: -220px -151px;
}

.header_site_act p.tools_con {
    float: left;
    line-height: 30px;
    color: #FFFFFF;
}



.header_site_act p.tools_con a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.unlogin_methods {
    float: right;
    overflow: hidden;
}

.unlogin_methods ul {
    padding-top: 5px;
}

.unlogin_methods ul li {
    float: left;
    position: relative;
    height: 20px;
    color: #7E7E7E;
    margin-left: 10px;
    line-height: 20px;
}

.unlogin_methods ul li.other_login a {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(../images/bg_new.png);
    background-repeat: no-repeat;
}

.unlogin_methods ul li.other_login a.login_qq {
    background-position: 0 0;
}

.unlogin_methods ul li.other_login a.login_qq:hover {
    background-position: 0 -25px;
}

.unlogin_methods ul li.other_login a.login_weibo {
    background-position: -25px 0;
}

.unlogin_methods ul li.other_login a.login_weibo:hover {
    background-position: -25px -25px;
}

.unlogin_methods ul li.other_login a.login_renren {
    background-position: -50px 0;
}

.unlogin_methods ul li.other_login a.login_renren:hover {
    background-position: -50px -25px;
}

.unlogin_methods ul li.other_login a.login_taobao {
    background-position: 0 -50px;
}

.unlogin_methods ul li.other_login a.login_taobao:hover {
    background-position: -25px -50px;
}

.unlogin_methods ul li a:link, .unlogin_methods ul li a:visited {
    color: #BFBFBF;
    text-decoration: none;
    margin: 0 2px
}

.unlogin_methods ul li a:hover {
    color: #FFFFFF;
    text-decoration: none
}

.login_methods {
    color: #BFBFBF;
    position: absolute;
    top: 0;
    right: 0;
    width: 154px;
}

.app_header_login {
    width: auto;
}

.login_methods .user_photo {
    float: left;
    position: relative;
    margin-top: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #dbcecc \9;
}

.login_methods .user_photo img {
    padding: 2px;
    display: block;
    background-color: #FFFFFF;
}

.login_methods .user_photo .user_space_link {
    display: block;
    position: absolute;
    top: 28px;
    right: -25px;
    width: 20px;
    height: 18px;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url("../images/bg_new.png");
    background-repeat: no-repeat;
    background-position: -120px 0;
}

.login_methods .user_name {
    width: 72px;
    height: 30px;
    float: left;
    margin-left: 6px;
    position: relative;
}

.login_methods .user_name a.user_name_link {
    padding: 0 4px;
    display: block;
    position: relative;
    height: 30px;
    width: 64px;
    line-height: 30px;
    cursor: pointer;
    z-index: 502;
}

.login_methods .user_name a.user_name_link span {
    display: block;
    width: 54px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.login_methods .user_name a.user_name_link b {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 0;
    height: 0;
    border-width: 4px 4px;
    border-style: solid;
    font-size: 0;
    line-height: 0;
    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
    border-color: #969696 transparent transparent transparent;
    _border-color: #969696 #333333 #333333 #333333;
}

/* 下拉菜单 */
.login_methods .action_panel {
    display: none;
    position: absolute;
    left: 0;
    top: 29px;
    top: 29px \9;
    background: #fff;
    border: 1px solid #adadad;
    border-bottom: 2px solid #fe2c2c;
    width: 95px;
    z-index: 501;
    padding: 8px 0
}

.login_methods .action_panel li {
    height: 24px;
}

.login_methods .action_panel li span {
    display: none
}

.login_methods .action_panel li.has_num a {
    font-weight: 700;
}

.login_methods .action_panel li.has_num a span {
    display: inline;
    font-family: Calibri;
    font-weight: 400;
    color: #fe2c2c
}

.login_methods .action_panel li a:link, .login_methods .action_panel li a:visited {
    color: #555555;
    display: block;
    height: 24px;
    padding-left: 14px;
    line-height: 24px;
    text-decoration: none;
}

.login_methods .action_panel li a:hover {
    background-color: #ececec;
    color: #4083a9;
    text-decoration: none;
}

.login_methods .hover .action_panel {
    display: block
}

.login_methods .hover a.user_name_link {
    border-left: 1px solid #adadad;
    border-right: 1px solid #adadad;
    background-color: #FFFFFF;
    width: 62px
}

#header .login_methods .hover a.user_name_link:link, #header .login_methods .hover a.user_name_link:visited {
    color: #666666;
}

#header .login_methods .hover a.user_name_link:hover {
    color: #666666;
}

.login_methods .hover a.user_name_link b {
    border-color: #666666 transparent transparent transparent;
    _border-color: #666666 #FFFFFF #FFFFFF #FFFFFF;
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 30%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 30%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 30%;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    top: 11px \9;
}

/*.login_methods .user_name*/

.login_methods .user_message {
    float: left;
    width: 25px;
    position: relative;
}

.login_methods .user_message .action_panel {
    left: -72px;
    top: 29px;
}

.login_methods .user_message .user_message_link {
    display: block;
    width: 25px;
    height: 30px;
    background-image: url("../images/bg_new.png");
    background-repeat: no-repeat;
    background-position: -122px -25px;
    position: relative;
    cursor: pointer;
    pointer;
    z-index: 502;
}

.login_methods .user_message .user_message_link strong {
    display: none;
}

.login_methods .has_message i {
    width: 25px;
    height: 43px;
    display: block;
    background-image: url("../images/bg_new.png");
    background-repeat: no-repeat;
    background-position: -80px 0;
}

.login_methods .has_message .user_message_link {
    background-position: -152px -25px;
}

.login_methods .has_message .user_message_link strong {
    display: block;
    font-family: Calibri;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 20px;
    width: 25px;
    text-align: center;
    color: #FFFFFF;
}

#header .login_methods .hover .user_message_link {
    border-left: 1px solid #adadad;
    border-right: 1px solid #adadad;
    width: 23px;
    background-color: #FFFFFF;
    background-position: -183px -25px;
}

.headerbar {
    height: 60px;
    width: 950px;
    margin: 0 auto;
}

.headerbar .logo {
    float: left;
    width: 154px;
}

.headerbar .logo img {
    display: block;
}

.headerbar .main_nav {
    float: left;
}

.headerbar .main_nav li {
    float: left;
    padding-top: 10px;
}

.headerbar .main_nav li a:link, .headerbar .main_nav li a:visited {
    display: block;
    text-decoration: none;
    float: left;
    color: #333333;
    height: 50px;
    padding: 0 12px;
    font-size: 14px;
    font-family: Microsoft YaHei
}

.headerbar .main_nav li a span {
    display: block;
    float: left;
    cursor: pointer;
    border-bottom: 3px solid #FFFFFF;
    height: 47px;
    line-height: 40px;
    padding: 0 2px;
}

.headerbar .main_nav li a.current,
.headerbar .main_nav li a:hover {
    display: block;
    height: 50px;
    color: #fe2c2c;
    text-decoration: none;
}

.headerbar .main_nav li a.current span, .headerbar .main_nav li a:hover span {
    border-bottom: 3px solid #fe2c2c;
}

.headerbar .main_nav li.new_link a:link, .headerbar .main_nav li.new_link a:visited {
    display: block;
    float: left;
    color: #fe2c2c;
    height: 50px;
    padding: 0 15px;
}

.headerbar .main_nav li.new_link a span {
    display: block;
    float: left;
    cursor: pointer;
    border-bottom: 3px solid #FFFFFF;
    height: 47px;
    line-height: 40px;
    padding: 0 37px 0 2px;
    background-image: url(../images/bg_new.png);
    background-repeat: no-repeat;
    background-position: 60px -171px;
    _background-position: 60px -173px;
}

.headerbar .main_nav li.new_link a:hover {
    display: block;
    height: 50px;
    color: #fe2c2c;
    text-decoration: none;
}

.headerbar .main_nav li.new_link a.current span, .headerbar .main_nav li.new_link a:hover span {
    border-bottom: 3px solid #fe2c2c;
}

.headerbar .main_nav li.hot_link a:link, .headerbar .main_nav li.hot_link a:visited {
    display: block;
    float: left;
    color: #fe2c2c;
    height: 50px;
    padding: 0 15px;
}

.headerbar .main_nav li.hot_link a span {
    display: block;
    float: left;
    cursor: pointer;
    border-bottom: 3px solid #FFFFFF;
    height: 47px;
    line-height: 40px;
    padding: 0 37px 0 2px;
    background-image: url(../images/bg_new.png);
    background-repeat: no-repeat;
    background-position: 60px -241px;
    _background-position: 60px -243px;
}

.headerbar .main_nav li.hot_link a:hover {
    display: block;
    height: 50px;
    color: #fe2c2c;
    text-decoration: none;
}

.headerbar .main_nav li.hot_link a.current span, .headerbar .main_nav li.hot_link a:hover span {
    border-bottom: 3px solid #fe2c2c;
}

/*
.headerbar .search{float:right; margin-top: 20px; width:206px; height:27px; padding: 3px 0 0 5px; background-image: url(../images/bg.png); background-repeat: no-repeat; background-position:-291px 0; }
.headerbar .search .search-input{ width:170px; height:26px; line-height: 26px; border: none 0 ; float:left;outline:none;background: transparent; }
.headerbar .search .search-button{float:right; width:30px; height:30px; cursor: pointer; border: none 0 ; text-indent: -9999px; overflow:hidden;outline:none;background: transparent;}
 */
/* app_header */
#app_header {
    position: fixed;
    _position: absolute;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #FE2C2C;
}

#app_header .app_header_bd {
    position: relative;
    width: 100%;
}

#app_header .app_header_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 43px;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#CC000000', endColorstr='#CC000000');
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

:root #app_header .app_header_shadow {
    filter: none \9;
}

/*ie9 hack*/
#app_header .app_header_warp {
    width: 950px;
    height: 43px;
    margin: 0 auto;
    position: relative;
    z-index: 1001;
}

#app_header .app_header_logo {
    width: 180px;
    height: 43px;
    float: left;
}

#app_header .app_header_logo a {
    background: url("../images/logo_sh.png") no-repeat;
    display: block;
    width: 164px;
    height: 43px;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='../images/logo_sh.png');
    text-indent: -9999em;
    overflow: hidden;
    _cursor: pointer;
}

#app_header .app_header_logo a:link, #app_header .app_header_logo a:visited {
    display: block;
    line-height: 43px;
    color: #F8F8F8;
    text-decoration: none;
}

#app_header .app_header_logo a:hover {
    color: #F8F8F8;
    text-decoration: none;
}

#app_header .app_header_logo .app_loge_l, #app_header .app_header_logo .app_loge_r {
    color: #F8F8F8;
    font-size: 53px;
    cursor: pointer;
}

#app_header .app_header_logo .site_name {
    display: none;
}

#app_header ul.app_header_nav {
    float: left;
}

#app_header ul.app_header_nav li {
    float: left;
}

#app_header ul.app_header_nav li a:link, #app_header ul.app_header_nav li a:visited {
    float: left;
    color: #DADADA;
    text-decoration: none;
    display: block;
    font-weight: 500;
    padding-left: 15px;
    line-height: 43px;
}

#app_header ul.app_header_nav li a:hover {
    color: #FFFFFF;
}

#app_header .app_header_unlogin ul {
    padding-top: 11px;
}

.login_methods a.user_name_link:link, .login_methods a.user_name_link:visited {
    color: #969696;
    text-decoration: none;
}

.login_methods a.user_name_link:hover {
    color: #969696;
    text-decoration: none;
}

#app_header .app_header_login {
    z-index: 1000
}

.app_header_login .user_name {
    height: 43px;
}

.app_header_login .user_name a.user_name_link {
    height: 43px;
    line-height: 43px;
}

.app_header_login .user_name a.user_name_link b {
    position: absolute;
    right: 10px;
    top: 19px;
}

.app_header_login .user_message .user_message_link {
    height: 43px;
    background-position: -122px -19px;
}

.app_header_login .has_message i {
    background-position: -80px -192px;
    height: 55px;
}

.app_header_login .has_message .user_message_link {
    background-position: -152px -19px;
}

.app_header_login .has_message .user_message_link:link, .app_header_login .has_message .user_message_link:visited {
    text-decoration: none;
}

.app_header_login .has_message .user_message_link strong {
    top: 26px;
}

#app_header .app_header_login .action_panel {
    top: 42px;
}

#app_header .login_methods .hover .user_message_link {
    border-left: 1px solid #adadad;
    border-right: 1px solid #adadad;
    width: 23px;
    background-color: #FFFFFF;
    background-position: -183px -20px;
}

/* nav_bottom */
#footer {
    background-color: #FFFFFF;
}

.nav_bottom {
    height: 172px;
    width: 950px;
    margin: 0 auto;
    font-size: 12px
}

.nav_bottom h3 {
    height: 28px;
    font-size: 12px;
}

.nav_bottom a:link, .nav_bottom a:visited {
    color: #666666;
    text-decoration: none;
}



.nav_bottom .recommend_link li, .nav_bottom .follow_us li, .nav_bottom .bot_links li {
    height: 23px;
    line-height: 23px
}

/*.bot_logo { float: left; width: 170px; height: 74px; margin-top: 49px; padding-right: 80px; border-right: 1px solid #c1c1c1; }*/
/**20150724修改底部logo,增加微女郎**/
.bot_logo a {
    float: left;
    width: 170px;
    height: 97px;
    margin-top: 26px;
    text-indent: -9999px;
    overflow: hidden;
}

.bot_logo_sodao {
    background: url(../images/logo_b_sodao.jpg) no-repeat center;
    margin-right: 20px;
}

.bot_logo_vgirl {
    background: url(../images/logo_b_vgirl.jpg) no-repeat center left;
    border-right: 1px solid #c1c1c1;
    padding-right: 60px;
}

.recommend_link {
    float: left;
    margin-top: 24px;
    margin-left: 77px;
    width: 111px;
}

.follow_us {
    float: left;
    margin-top: 24px;
    width: 130px;
}

.clients {
    float: left;
    margin-top: 24px;
    width: 165px;
}

.qr_code {
    float: left;
    margin-top: 24px;
    width: 136px;
}

.bot_links {
    float: left;
    margin-top: 24px;
    width: 70px;
}

.follow_us a {
    display: block;
    height: 23px;
    line-height: 23px;
}

.index-weibo-ico, .index-tqq-ico, .index-weixin-ico {
    background-image: url(../images/bg_new.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 3px;
    line-height: 23px;
    vertical-align: middle;
}

.index-weibo-ico {
    background-position: -218px -192px;
}

.index-tqq-ico {
    background-position: -218px -215px;
}

.index-weixin-ico {
    background-position: -218px -238px;
}

.clients li {
    margin-bottom: 5px;
    width: 105px;
    height: 40px;
}

.clients li a {
    display: block;
    width: 105px;
    height: 40px;
    background-image: url(../images/bg_new.png);
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px
}

.clients li a.ios_clients {
    background-position: 0 -80px;
}

.clients li a.ios_clients:hover {
    background-position: -105px -80px;
}

.clients li a.android_clients {
    background-position: 0 -120px;
}

.clients li a.android_clients:hover {
    background-position: -105px -120px;
}

/* footer_warp */
.footer_warp {
    background-color: #333333;
    height: 45px;
    line-height: 45px;
    border-top: 2px solid #fe2c2c;
    font-size: 12px
}

.footer_warp .footer {
    width: 950px;
    margin: 0 auto;
}

.footer_warp .footer .help_link {
    float: left;
}

.footer_warp .footer .help_link a:link, .footer_warp .footer .help_link a:visited {
    color: #999999;
    text-decoration: none;
    margin-right: 10px;
}



.footer_warp .footer .copyright {
    float: right;
    color: #999999;
}

/* header-banner */
.header-banner {
    display: none;
    position: relative;
    height: 40px;
    background: #e9e9b9;
    text-align: center;
}

/* header-marquee */
.header-marquee {
    background: #fff;
}

.header-marquee-wrapper {
    position: relative;
    width: 950px;
    height: 36px;
    margin: 0 auto;
    padding-top: 4px;
    overflow: hidden;
}

.header-marquee-cnt {
    margin-left: 25px;
    width: 925px;
    overflow: hidden;
    white-space: nowrap;
}

.header-marquee-cnt a, .header-marquee-cnt a:hover {
    text-decoration: none;
}

.header-marquee-cnt a:link, .header-marquee-cnt a:visited {
    color: #333;
}

.header-marquee-wrapper .horn {
    position: absolute;
    left: 0;
    top: 10px;
}

.header-marquee-cnt li {
    display: inline;
    padding-right: 8px;
    white-space: nowrap;
}

.header-marquee-cnt ul em {
    padding: 0 4px;
    font-weight: bold;
}

.header-marquee-cnt ul img {
    margin-right: 6px;
    vertical-align: middle;
}

.header-marquee-cnt li.blue em {
    color: #024aff;
}

.header-marquee-cnt li.cyan em {
    color: #28caff;
}

.header-marquee-cnt li.orange em {
    color: #fc5100;
}

.header-marquee-cnt li.pink em {
    color: #fc2a45;
}

.header-marquee-cnt li.purple em {
    color: #cc1dff;
}

.header-marquee-cnt li.red em {
    color: #fb23a7;
}

.header-marquee-cnt li.yellow em {
    color: #fdb900;
}

/* ----- 网站公告 ----- */
.header-marquee-notify {
    background-color: #FFFDED;
    color: red;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
}

@font-face {
    font-family: 'icon_try';
    src: url("//at.alicdn.com/t/font_988_ordl0uvjmrzilik9.eot");
    src: url("//at.alicdn.com/t/font_988_ordl0uvjmrzilik9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_988_ordl0uvjmrzilik9.woff") format("woff"), url("//at.alicdn.com/t/font_988_ordl0uvjmrzilik9.ttf") format("truetype"), url("//at.alicdn.com/t/font_988_ordl0uvjmrzilik9.svg#iconfont") format("svg");
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px
}

@font-face {
    font-family: 'iconfont_try';
    src: url("//at.alicdn.com/t/font_988_ordl0uvjmrzilik9.eot");
    src: url("//at.alicdn.com/t/font_988_ordl0uvjmrzilik9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_988_ordl0uvjmrzilik9.woff") format("woff"), url("//at.alicdn.com/t/font_988_ordl0uvjmrzilik9.ttf") format("truetype"), url("//at.alicdn.com/t/font_988_ordl0uvjmrzilik9.svg#iconfont") format("svg");
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px
}

.icon_try, .iconfont_try {
    font-family: "icon_try"
}

@font-face {
    font-family: "impact";
    src: url("http://a.mysodao.com/fonts/impact/impact.eot");
    src: url("http://a.mysodao.com/fonts/impact/impact.eot?#iefix") format("embedded-opentype"), url("http://a.mysodao.com/fonts/impact/impact.woff") format("woff"), url("http://a.mysodao.com/fonts/impact/impact.ttf") format("truetype"), url("http://a.mysodao.com/fonts/impact/impact.svg#impact") format("svg");
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased
}

.impact {
    font-family: "impact"
}

html {
    overflow: scroll;
    width: 100%;
    height: 100%;
    font-size: 12px
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, label, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none
}

body, textarea {
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #333
}

body {
    background: #fafafa
}

em, i {
    font-style: normal
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 100
}

label, input, select {
    vertical-align: middle
}

img, button {
    background: transparent;
    border: 0 none;
    vertical-align: middle
}

ol, ul {
    list-style: none
}

table, th, td, fieldset, legend {
    font-weight: 400;
    border: 0 none;
    border-collapse: collapse
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=search], input[type=tel], input[type=submit] {
    vertical-align: middle;
    outline: 0
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0
}

button {
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #bbb
}

select {
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    text-decoration: none;
    color: #ff3366
}

#footer {
    *zoom: 1
}

#footer:before, #footer:after {
    content: "";
    display: table;
    font: 0/0 a
}

#footer:after {
    clear: both
}

.topbar {
    width: 100%;
    min-height: 29px;
    line-height: 29px;
    _height: 29px;
    background: #f5f5f5;
    border-bottom: 1px #ddd solid;
    color: #666;
    position: relative;
    z-index: 999
}

.topbar a {
    height: 29px;
    line-height: 29px;
    display: inline-block
}

.topbar a:link, .topbar a:visited {
    color: #666;
    text-decoration: none
}

.topbar a:hover {
    color: #f36;
    text-decoration: none
}

.topbar .topbar_conter {
    width: 1200px;
    margin: 0 auto;
    *zoom: 1
}

.topbar .topbar_conter:before, .topbar .topbar_conter:after {
    content: "";
    display: table;
    font: 0/0 a
}

.topbar .topbar_conter:after {
    clear: both
}

.topbar .topbar_conter .site_act {
    float: left;
    display: block;
    height: 29px
}

.topbar .topbar_conter .site_act a {
    margin-right: 10px
}

.topbar .topbar_conter .site_act .icon_try {
    font-size: 16px
}

.topbar .topbar_conter .user_act {
    float: right;
    display: block;
    height: 29px
}

.topbar .topbar_conter .user_act ul li {
    float: left;
    display: block;
    padding: 0 5px;
    position: relative;
    height: 29px
}

.topbar .topbar_conter .user_act ul li em {
    width: 13px;
    min-height: 29px;
    line-height: 29px;
    _height: 29px;
    display: inline-block;
    vertical-align: middle
}

.topbar .topbar_conter .user_act ul li:hover div {
    display: block;
    visibility: visible
}

.topbar .topbar_conter .user_act ul li i.icon_try {
    font-size: 24px
}

.topbar .topbar_conter .user_act ul li a {
    padding: 0 5px
}

.topbar .topbar_conter .user_act ul li a strong {
    font-size: 9px;
    min-height: 9px;
    line-height: 9px;
    _height: 9px;
    border-radius: 9px;
    padding: 2px 5px;
    background: #f10879;
    color: #fff;
    display: none;
    position: relative;
    top: -2px;
    margin-left: 3px
}

.topbar .topbar_conter .user_act ul li a.has_message strong {
    display: inline-block
}

.topbar .topbar_conter .user_act ul li .action_panel {
    min-width: 80px;
    display: none;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    position: absolute;
    right: 0;
    top: 29px;
    z-index: 99;
    -webkit-box-shadow: #ddd 2px 2px 2px;
    box-shadow: #ddd 2px 2px 2px;
    background: #f5f5f5;
    text-align: center
}

.topbar .topbar_conter .user_act ul li .action_panel a {
    position: relative
}

.topbar .topbar_conter .user_act ul li .action_panel a span {
    font-size: 9px;
    min-height: 9px;
    line-height: 9px;
    _height: 9px;
    border-radius: 9px;
    padding: 2px 5px;
    background: #f10879;
    color: #fff;
    display: none;
    position: absolute;
    top: 8px;
    left: 55px
}

.topbar .topbar_conter .user_act ul li .action_panel a.has_num span {
    display: block
}

.topbar .content_950 {
    width: 950px
}

.header_content {
    width: 1200px;
    margin: 0 auto;
    *zoom: 1;
    height: 70px;
    padding-top: 20px;
    background: #fff
}

.header_content:before, .header_content:after {
    content: "";
    display: table;
    font: 0/0 a
}

.header_content:after {
    clear: both
}

.header_content .site-logo {
    float: left;
    display: block;
    width: 140px;
    height: 50px;
    background: url("../images/logo.jpg") no-repeat;
    padding-right: 20px;
    border-right: 1px #333 solid
}

.header_content .site-logo .site-title {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em
}

.header_content .site-subhead {
    float: left;
    display: block;
    width: 200px;
    height: 50px;
    padding: 7px 0 0 20px;
    color: #666
}

.header_content .site-subhead h2 {
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    color: #333;
    font-weight: normal
}

.header_content .site-subhead span {
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    color: #333;
    font-weight: normal
}

.header_content .header_open {
    float: right;
    display: block;
    height: 60px;
    margin-top: 8px;
    width: 500px;
    text-align: right
}

.header_content .header_open_face .header_open_link {
    font-size: 18px;
    line-height: 38px;
    margin-right: 110px
}

.header_content .cur {
    color: #ff3366;
    border-bottom: 3px solid #ff3366
}

.content_950 {
    width: 950px
}

#header.header_2016 {
    background: url(../images/spring2016_02.jpg) repeat-x 0 60px #da1726
}

#header.header_2016 .header_content {
    background: none;
    padding-top: 0;
    height: 90px
}

#header.header_2016 .header_content .site-logo {
    width: 275px;
    height: 90px;
    background: url(../images/spring2016_03.png) no-repeat;
    border-right: none
}

#header.header_2016 .header_content .site-subhead {
    width: 120px;
    height: 39px;
    margin: 32px 0 0 81px;
    padding: 0;
    background: url(../images/spring2016_09.png);
    position: relative
}

#header.header_2016 .header_content .site-subhead h2 {
    position: absolute;
    left: -9999em
}

#header.header_2016 .header_content .site-subhead .monkey {
    width: 34px;
    height: 47px;
    background: url(../images/monkey.png) no-repeat;
    position: absolute;
    top: 39px;
    left: 32px;
    z-index: 100
}

#header.header_2016 .header_content .header_open {
    width: 600px;
    text-align: right;
    margin-top: 27px
}

#header.header_2016 .header_content .header_open a {
    width: 295px;
    height: 62px;
    float: right;
    display: block;
    background: url(../images/spring2016_06.png) no-repeat
}

#header.header_2016 .nav {
    background: url(../images/spring2016_04.png) repeat-x;
    -webkit-box-shadow: none;
    box-shadow: none
}

.sign_content {
    width: 340px;
    height: 268px;
    background: #fff;
    position: absolute;
    z-index: 999;
    border: solid 1px #ddd;
    right: -40px;
    top: 35px;
    padding: 0 19px;
    display: none
}

.sign_content .sign_content_t {
    height: 100px;
    width: 340px;
    margin: 0
}

.sign_content .sign_content_c {
    border-width: 1px 0;
    border-color: #ddd;
    border-style: solid;
    line-height: 28px;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    color: #e74096
}

.sign_content .sign_content_c p {
    font-size: 16px;
    color: #333
}

.sign_content .sign_content_c p span {
    font-weight: bold;
    font-size: 18px;
    color: #e74096
}

.sign_content .sign_button {
    margin-top: 15px;
    text-align: center
}

.sign_content .sign_button a {
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-size: 14px
}

.sign_content .sign_button .changed {
    width: 96px;
    background: #e74096;
    margin-right: 20px
}

.sign_content .sign_button .earn {
    width: 120px;
    background: #fe2c2c
}

.sign_content .sign_t {
    height: 100px;
    width: 340px;
    margin: 0
}

.sign_content .enter {
    border-top: solid 1px #ddd;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #e74096
}

.sign_content .enter a {
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    display: block;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    width: 120px;
    background: #e74096;
    margin: 14px auto 0
}

.point-dia-con {
    width: 220px;
    height: 120px;
    background-image: url("../images/point-dia-bg.png");
    background-position: center center
}

.point-dia-con .today-point {
    text-align: center;
    font-size: 20px;
    padding-top: 20px
}

.point-dia-con .today-point strong {
    font-family: "Arial Bold", "Microsoft YaHei";
    font-size: 36px;
    color: #FF3300
}

.point-dia-con .tomorrow-point {
    text-align: center;
    font-size: 14px
}

.point-dia-con .tomorrow-point strong {
    color: #FF3300
}

.nav {
    width: 100%;
    min-width: 1200px;
    background: url("../images/nav_bg.jpg") repeat-x;
    height: 80px;
    -webkit-box-shadow: #ddd 0 1px 5px;
    box-shadow: #ddd 0 1px 5px;
    position: relative
}

.nav .nav_warp {
    width: 1200px;
    height: 80px;
    margin: 0px auto;
    position: relative
}

.nav .nav_warp a:hover {
    text-decoration: none
}

.nav .nav_warp ul {
    display: block;
    z-index: 0
}

.nav .nav_warp ul li {
    float: left;
    display: block;
    width: 106px;
    text-align: center
}

.nav .nav_warp ul li span {
    position: relative;
    display: block
}

.nav .nav_warp ul li span a {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px
}

.nav .nav_warp ul li span .hot {
    display: block;
    background: url("../images/nav_hot.png") repeat-x;
    width: 26px;
    height: 16px;
    position: absolute;
    margin-top: -43px;
    right: 0
}

.nav .nav_warp ul li div {
    display: none;
    width: 100%;
    position: absolute;
    left: 0
}

.nav .nav_warp ul li div ol.menu {
    float: left;
    display: block
}

.nav .nav_warp ul li div ol.manage {
    float: right;
    display: block
}

.nav .nav_warp ul li div a {
    float: left;
    display: inline-block;
    color: #333;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 14px;
    padding: 0 26px;
    position: relative
}

.nav .nav_warp ul li div a:hover, .nav .nav_warp ul li div a.active {
    color: #333;
    border-bottom: 2px solid #ff436b;
    height: 38px;
    line-height: 38px
}

.nav .nav_warp ul li div a.active {
    font-weight: bold
}

.nav .nav_warp ul li div a .new {
    position: absolute;
    background: url("../images/nav_new.png") no-repeat;
    width: 28px;
    height: 18px
}

.nav .nav_warp ul li div i {
    float: left;
    display: inline-block;
    color: #333;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    padding: 18px 0;
    font-size: 18px
}

.nav .nav_warp ul li.over span a {
    color: #fff;
    background: #ff697b
}

.nav .nav_warp ul li.active span a {
    color: #fff;
    background: #333
}

.nav .nav_warp ul li.active div {
    display: block
}

.nav .nav_warp .sign {
    display: block;
    width: 100px;
    min-height: 30px;
    line-height: 30px;
    _height: 30px;
    background: #fff047;
    color: #f10879;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    z-index: 50;
    position: absolute;
    right: 0;
    top: 5px
}

.nav .nav_950 {
    width: 950px
}

.nav .nav_950 ul li {
    width: 106px
}

.face_tab {
    overflow: hidden;
    background: url("../images/xian.png") repeat-x left bottom;
    height: 34px;
    margin-bottom: 20px
}

.face_tab ul li {
    float: left;
    display: block;
    text-align: center
}

.face_tab ul li.active {
    font-weight: bold;
    border-bottom: solid 2px #f36
}

.face_tab ul li.active a {
    color: #f36
}

.face_tab ul li a {
    width: 96px;
    line-height: 32px;
    display: block;
    font-size: 14px;
    min-width: 96px;
    padding: 0 10px
}

.face_tab ul li a em {
    color: #f36;
    margin-left: 5px
}

.left_menu {
    float: left;
    display: block;
    width: 210px;
    -webkit-box-shadow: #ddd -6px 1px 6px;
    box-shadow: #ddd -6px 1px 6px;
    padding-bottom: 258px
}

.left_menu ul li {
    line-height: 38px;
    font-size: 16px;
    color: #333
}

.left_menu ul li .icon_try {
    margin: 0 12px 0 22px;
    font-size: 16px
}

.left_menu ul li a {
    padding-left: 50px;
    display: block;
    line-height: 38px;
    font-size: 14px;
    color: #333
}

.left_menu ul li a.menu_check, .left_menu ul li a:hover {
    background: #fff;
    display: block;
    height: 38px;
    font-weight: bold;
    text-decoration: none;
    color: #333
}

.left_menu ul li a.over {
    background: #fff;
    display: block;
    height: 38px;
    font-weight: bold;
    text-decoration: none
}

.left_menu ul li a span {
    border-radius: 100px;
    padding: 0 7px;
    margin-left: 5px;
    background: #ff436b;
    color: #fff;
    font-size: 12px
}

.left_menu ul li a span.show_num {
    float: right;
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 14px 10px 0 0
}

.left_menu ul li .menu-set .more-set {
    display: block;
    font-size: 14px;
    color: #999
}

.left_menu ul li .menu-set a {
    display: none
}

.left_menu .current {
    background: #fff;
    display: block;
    height: 38px;
    font-weight: bold;
    text-decoration: none
}

.left_menu .service {
    padding: 20px 0 25px 20px;
    border-width: 1px 0;
    border-color: #ddd;
    border-style: solid
}

.left_menu .service p {
    font-size: 12px;
    color: #666;
    line-height: 26px;
    margin-top: 5px
}

.left_menu .service p .icon_try {
    background: #fff;
    border-radius: 20px;
    width: 26px;
    height: 26px;
    float: left;
    display: block;
    margin-right: 5px;
    text-align: center;
    line-height: 26px;
    font-size: 16px
}

.left_menu .weixin {
    margin: 20px 0 0;
    text-align: center;
    font-size: 12px
}

.left_menu .weixin p {
    width: 167px;
    height: 167px;
    background: #fff;
    line-height: 167px;
    margin: 0 auto 10px
}

.user {
    background: #fff8f8
}

.user ul li {
    background: #ffdfdf
}

.user ul li a {
    background: #fff8f8
}

.user .icon_try {
    color: #ff8a8a
}

.supplier {
    background: #edf5ff
}

.supplier ul li {
    background: #d2e3f7
}

.supplier ul li a {
    background: #edf5ff
}

.supplier .icon_try {
    color: #a0b6d2
}

.merchant_left_menu {
    float: left;
    display: block;
    width: 210px;
    -webkit-box-shadow: #ddd -6px 1px 6px;
    box-shadow: #ddd -6px 1px 6px;
    padding-bottom: 258px
}

.merchant_left_menu ul li {
    line-height: 35px;
    font-size: 12px;
    color: #333
}

.merchant_left_menu ul li span {
    font-size: 14px
}

.merchant_left_menu ul li .icon_try {
    margin: 0 12px 0 22px;
    font-size: 16px
}

.merchant_left_menu ul li a {
    padding-left: 50px;
    display: block;
    line-height: 35px;
    font-size: 12px;
    color: #333
}

.merchant_left_menu ul li a.menu_check, .merchant_left_menu ul li a:hover {
    background: #fff;
    display: block;
    height: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #333
}

.merchant_left_menu ul li a.over {
    background: #fff;
    display: block;
    height: 35px;
    font-weight: bold;
    text-decoration: none
}

.merchant_left_menu ul li a span {
    border-radius: 100px;
    padding: 0 7px;
    margin-left: 5px;
    background: #ff436b;
    color: #fff;
    font-size: 12px
}

.merchant_left_menu ul li a span.show_num {
    float: right;
    display: block;
    height: 20px;
    line-height: 20px;
    margin: 14px 10px 0 0
}

.merchant_left_menu .current {
    background: #fff;
    display: block;
    height: 35px;
    font-weight: bold;
    text-decoration: none
}

.merchant_left_menu .service {
    padding: 20px 0 25px 20px;
    border-width: 1px 0;
    border-color: #ddd;
    border-style: solid
}

.merchant_left_menu .service p {
    font-size: 12px;
    color: #666;
    line-height: 26px;
    margin-top: 5px
}

.merchant_left_menu .service p .icon_try {
    background: #fff;
    border-radius: 20px;
    width: 26px;
    height: 26px;
    float: left;
    display: block;
    margin-right: 5px;
    text-align: center;
    line-height: 26px;
    font-size: 16px
}

.merchant_left_menu .weixin {
    margin: 20px 0 0;
    text-align: center;
    font-size: 12px
}

.merchant_left_menu .weixin p {
    width: 167px;
    height: 167px;
    background: #fff;
    line-height: 167px;
    margin: 0 auto 10px
}

.user {
    background: #fff8f8
}

.user ul li {
    background: #ffdfdf
}

.user ul li a {
    background: #fff8f8
}

.user .icon_try {
    color: #ff8a8a
}

.supplier {
    background: #edf5ff
}

.supplier ul li {
    background: #d2e3f7
}

.supplier ul li a {
    background: #edf5ff
}

.supplier .icon_try {
    color: #a0b6d2
}

#merchant-header {
    height: 70px;
    background: #616b88;
    position: relative;
    z-index: 10
}

.header-wrap {
    width: 1200px;
    margin: 0 auto;
    *zoom: 1;
    padding-top: 10px
}

.header-wrap:before, .header-wrap:after {
    content: "";
    display: table;
    font: 0/0 a
}

.header-wrap:after {
    clear: both
}

.merchant-logo-content {
    float: left;
    display: block;
    width: 240px
}

.merchant-logo-content .site-logo {
    float: left;
    display: block;
    width: 105px;
    height: 40px;
    background: url("../images/merchant_logo.png") no-repeat;
    padding-right: 10px;
    border-right: 1px #fff solid
}

.merchant-logo-content .site-logo .site-title {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em
}

.merchant-logo-content .site-subhead {
    float: left;
    display: block;
    height: 40px;
    color: #666;
    padding-left: 10px
}

.merchant-logo-content .site-subhead h2 {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    line-height: 18px
}

.merchant-logo-content .site-subhead a {
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    margin-top: 6px;
    display: block
}

.merchant-logo-content .site-subhead a i {
    font-family: "icon_try";
    font-size: 16px;
    margin-right: 4px;
    float: left;
    display: block
}

.merchant-nav {
    margin-left: 35px;
    float: left;
    display: block
}

.merchant-nav .hot {
    background: url("../images/sprite.png") 0px -4px;
    width: 26px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 0
}

.merchant-nav ul li {
    float: left;
    display: block;
    padding: 0 25px;
    line-height: 60px;
    position: relative
}

.merchant-nav ul li a {
    font-size: 14px;
    color: #c9ccd4;
    display: block
}

.merchant-nav ul li a.active {
    color: #fff;
    position: relative
}

.merchant-nav ul li a.active:after {
    content: "";
    position: absolute;
    background: url("../images/triangle.png") no-repeat;
    width: 18px;
    height: 9px;
    left: 50%;
    bottom: 0;
    margin-left: -10px
}

.merchant-nav ul li a:hover {
    color: #fff;
    position: relative
}

.merchant-nav ul li a:hover:after {
    content: "";
    position: absolute;
    background: url("../images/triangle.png") no-repeat;
    width: 18px;
    height: 9px;
    left: 50%;
    bottom: 0;
    margin-left: -10px
}

.merchant-act {
    float: right;
    display: block;
    font-size: 14px;
    margin-top: 20px;
    position: relative;
    height: 40px;
    width: 350px
}

.merchant-act .merchant-name {
    color: #c9ccd4;
    display: block;
    text-align: right;
    margin-left: 20px;
    float: right
}

.merchant-act .merchant-name span {
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block
}

.merchant-act .merchant-name i {
    font-family: "icon_try";
    font-size: 14px;
    margin-right: 8px
}

.merchant-act .merchant-name .arrows {
    background: url("../images/arrows.png") no-repeat;
    width: 8px;
    height: 4px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

.merchant-act .merchant-right {
    float: right;
    height: 40px
}

.merchant-act .merchant-right:hover .pull-down-list {
    display: block
}

.merchant-act .merchant-right:hover .merchant-name {
    color: #fff
}

.merchant-act .merchant-right:hover .merchant-name .arrows {
    background: url("../images/arrows_down.png") no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

.merchant-act .merchant-message {
    margin-left: 20px;
    float: right;
    color: #c9ccd4
}

.merchant-act .merchant-message i {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url("../images/sprite.png") 0px -49px;
    margin-right: 9px
}

.merchant-act .merchant-message .tips {
    width: 8px;
    height: 8px;
    background: #ff3a3a;
    border-radius: 5px;
    display: none;
    margin-left: 6px
}

.merchant-act .merchant-message:hover {
    color: #fff
}

.merchant-act .pull-down-list {
    position: absolute;
    width: 130px;
    height: 30px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    top: 30px;
    display: none;
    z-index: 100;
    right: -30px
}

.merchant-act .pull-down-list:after {
    position: absolute;
    content: "";
    background: url("../images/triangle.png") no-repeat;
    width: 18px;
    height: 9px;
    left: 50%;
    top: -9px;
    margin-left: -10px
}

.merchant-act .pull-down-list a {
    padding-left: 18px;
    font-size: 12px;
    display: block;
    line-height: 30px
}

.merchant-act .pull-down-list a i {
    font-family: "icon_try";
    font-size: 15px;
    color: #a2aecd;
    margin-right: 10px
}

.merchant-act .pull-down-list a:hover {
    background: #eaedf4
}

.merchant-act .pull-down-list a em {
    font-size: 12px;
    color: #fff;
    background: #ff3a3a;
    padding: 2px;
    border-radius: 10px;
    margin-left: 5px;
    display: none
}

.content_950 {
    width: 950px
}

#header.header_2016 {
    background: url(../images/spring2016_02.jpg) repeat-x 0 60px #da1726
}

#header.header_2016 .header_content {
    background: none;
    padding-top: 0;
    height: 90px
}

#header.header_2016 .header_content .site-logo {
    width: 275px;
    height: 90px;
    background: url(../images/spring2016_03.png) no-repeat;
    border-right: none
}

#header.header_2016 .header_content .site-subhead {
    width: 120px;
    height: 39px;
    margin: 32px 0 0 81px;
    padding: 0;
    background: url(../images/spring2016_09.png);
    position: relative
}

#header.header_2016 .header_content .site-subhead h2 {
    position: absolute;
    left: -9999em
}

#header.header_2016 .header_content .site-subhead .monkey {
    width: 34px;
    height: 47px;
    background: url(../images/monkey.png) no-repeat;
    position: absolute;
    top: 39px;
    left: 32px;
    z-index: 100
}

#header.header_2016 .header_content .header_open {
    width: 600px;
    text-align: right;
    margin-top: 27px
}

#header.header_2016 .header_content .header_open a {
    width: 295px;
    height: 62px;
    float: right;
    display: block;
    background: url(../images/spring2016_06.png) no-repeat
}

#header.header_2016 .nav {
    background: url(../images/spring2016_04.png) repeat-x;
    -webkit-box-shadow: none;
    box-shadow: none
}



.content_title {
    height: 25px;
    border-bottom: solid 1px #ddd;
    margin-top: 10px;
    *zoom: 1
}

.content_title:before, .content_title:after {
    content: "";
    display: table;
    font: 0/0 a
}

.content_title:after {
    clear: both
}

.content_title h3 {
    float: left;
    display: block;
    font-size: 18px;
    color: #333;
    margin-top: 3px;
    padding-right: 15px;
    background: #fff;
    font-weight: bold;
    line-height: 40px
}

.content_title h3 em {
    font-weight: bold
}

.content_title h4 {
    float: left;
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    line-height: 14px
}

.content_title a {
    float: right;
    display: block;
    margin-left: 20px;
    font-size: 14px;
    color: #ff436b
}

.try_topbar {
    width: 100%;
    min-height: 29px;
    line-height: 29px;
    _height: 29px;
    background: #f5f5f5;
    border-bottom: 1px #ddd solid;
    color: #666;
    position: relative;
    z-index: 999
}

.try_topbar a {
    height: 29px;
    line-height: 29px;
    display: inline-block
}

.try_topbar a:link, .try_topbar a:visited {
    color: #666;
    text-decoration: none
}

.try_topbar a:hover {
    color: #f36;
    text-decoration: none
}

.try_topbar .topbar_conter {
    width: 1200px;
    margin: 0 auto;
    *zoom: 1
}

.try_topbar .topbar_conter:before, .try_topbar .topbar_conter:after {
    content: "";
    display: table;
    font: 0/0 a
}

.try_topbar .topbar_conter:after {
    clear: both
}

.try_topbar .topbar_conter .site_act {
    float: left;
    display: block;
    height: 29px
}

.try_topbar .topbar_conter .site_act a {
    margin: 0 5px
}

.try_topbar .topbar_conter .site_act .mm_index {
    color: #666;
    margin-right: 10px
}

.try_topbar .topbar_conter .site_act .mm_index i {
    font-family: "icon_try";
    font-size: 14px;
    margin-right: 5px;
    vertical-align: middle
}

.try_topbar .topbar_conter .site_act .mm_index:hover {
    color: #f36
}

.try_topbar .topbar_conter .user_act {
    float: right;
    display: block;
    height: 29px
}

.try_topbar .topbar_conter .user_act ul li {
    float: left;
    display: block;
    padding: 0 5px;
    position: relative;
    height: 29px
}

.try_topbar .topbar_conter .user_act ul li em {
    width: 13px;
    min-height: 29px;
    line-height: 29px;
    _height: 29px;
    display: inline-block;
    vertical-align: middle
}

.try_topbar .topbar_conter .user_act ul li:hover div {
    display: block;
    visibility: visible
}

.try_topbar .topbar_conter .user_act ul li i.icon_try {
    font-size: 24px
}

.try_topbar .topbar_conter .user_act ul li a {
    padding: 0 5px
}

.try_topbar .topbar_conter .user_act ul li a#try_user_message_link strong {
    padding: 0;
    width: 5px;
    height: 5px;
    min-height: 5px;
    background: #ff436b;
    border-radius: 3px;
    position: relative;
    top: -2px
}

.try_topbar .topbar_conter .user_act ul li a strong {
    font-size: 9px;
    min-height: 9px;
    line-height: 9px;
    _height: 9px;
    border-radius: 9px;
    padding: 2px 5px;
    background: #f10879;
    color: #fff;
    display: none;
    position: relative;
    top: -2px;
    margin-left: 3px
}

.try_topbar .topbar_conter .user_act ul li a.has_message strong {
    display: inline-block
}

.try_topbar .topbar_conter .user_act ul li .try-notify-tips {
    padding: 4px;
    border-radius: 15px;
    background: #ff436b;
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    line-height: 12px;
    margin-left: 4px;
    display: none
}

.try_topbar .topbar_conter .user_act ul li .action_panel {
    min-width: 80px;
    display: none;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    position: absolute;
    right: 0;
    top: 29px;
    z-index: 99;
    -webkit-box-shadow: #ddd 2px 2px 2px;
    box-shadow: #ddd 2px 2px 2px;
    background: #f5f5f5;
    text-align: center
}

.try_topbar .topbar_conter .user_act ul li .action_panel a {
    position: relative
}

.try_topbar .topbar_conter .user_act ul li .action_panel a span {
    font-size: 9px;
    min-height: 9px;
    line-height: 9px;
    _height: 9px;
    border-radius: 9px;
    padding: 2px 5px;
    background: #f10879;
    color: #fff;
    display: none;
    position: absolute;
    top: 8px;
    left: 55px
}

.try_topbar .topbar_conter .user_act ul li .action_panel a.has_num span {
    display: block
}

.try_topbar .content_950 {
    width: 950px
}

.try_header {
    height: 68px;
    width: 100%;
    border-bottom: solid 2px #ff436b
}

.try_header .try_header_wrap {
    width: 1200px;
    margin: 0 auto
}

.try_header .try_header_wrap.content_950 {
    width: 950px
}

.try_header .try_logo {
    float: left;
    width: 170px;
    height: 68px;
    line-height: 68px;
    background: #ff436b;
    text-align: center
}

.try_header .try_nav {
    float: right;
    margin-top: 22px
}

.try_header .try_nav ul li {
    float: left;
    text-align: center;
    margin: 0 12px
}

.try_header .try_nav ul li a {
    font-size: 16px;
    color: #333;
    padding: 0 8px
}

.try_header .try_nav ul li a.active {
    color: #fff;
    padding: 4px 8px;
    background: #ff436b;
    border-radius: 4px
}

.try_header .try_nav ul li a:hover {
    color: #fff;
    padding: 4px 8px;
    background: #ff436b;
    border-radius: 4px
}

body, html {
    min-height: 100%
}

#page {
    position: relative;
    height: 100%;
    min-height: 660px;
    min-width: 1200px
}

.wrap {
    width: 1200px;
    margin: 20px auto 60px;
    *zoom: 1
}

.wrap:before, .wrap:after {
    content: "";
    display: table;
    font: 0/0 a
}

.wrap:after {
    clear: both
}

.content {
    width: 950px;
    padding: 0 20px 30px;
    float: right;
    display: block;
    background: #fff;
    -webkit-box-shadow: #ddd 3px 1px 3px;
    box-shadow: #ddd 3px 1px 3px
}

.scrollLoading {
    background: url(../images/loading.gif) center center no-repeat
}

.transparent {
    display: inline-block;
    width: 0;
    height: 30px;
    padding: 0 1px !important;
    border: 0;
    visibility: hidden
}

.trans {
    width: 0;
    height: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
}

.hide {
    display: none
}

.feedback-fix {
    position: fixed;
    z-index: 1000;
    width: 60px;
    height: 170px;
    right: 5px;
    bottom: 90px
}

.feedback-fix .right-ex-box {
    margin-bottom: 10px
}

.feedback-fix .right-ex-box .right-ex-a {
    background-color: #E1E1E1;
    display: block;
    width: 60px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    color: #333
}

.feedback-fix .right-ex-box .right-ex-a i {
    display: block;
    font-size: 32px;
    line-height: 32px;
    padding-top: 5px;
    width: 60px;
    color: #333
}

.feedback-fix .right-ex-box .right-ex-a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #F40
}

.feedback-fix .right-ex-box .right-ex-b {
    background-color: #E1E1E1;
    display: block;
    width: 60px;
    padding: 3px 0;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    color: #333
}

.feedback-fix .right-ex-box .right-ex-c {
    background: #ff5555;
    color: #fff;
    height: 40px;
    line-height: 40px
}

.feedback-fix .right-ex-box .right-ex-b:hover, .feedback-fix .right-ex-box .right-ex-c:hover {
    color: #fff;
    text-decoration: none;
    background-color: #F40
}

.invite-fix, .sell-fix {
    position: fixed;
    width: 140px;
    height: 150px;
    right: 5px;
    top: 280px;
    z-index: 30
}

.sell-fix {
    right: 55px
}

.try_cutPage {
    clear: both;
    padding-top: 30px;
    font-size: 16px;
    overflow: hidden;
    zoom: 1;
    font-weight: 700;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial
}

.try_cutPage b {
    padding: 0 14px;
    border: 1px solid #fb102d;
    background-color: #fb102d;
    color: #fff;
    margin-right: 3px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-radius: 2px
}

.try_cutPage a {
    display: inline-block;
    margin-right: 3px;
    padding: 1px 15px;
    color: #666;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    border-radius: 2px
}

.try_cutPage a:hover {
    padding: 0 14px;
    border: 1px solid #e1e1e1;
    background-color: #e1e1e1;
    color: #666;
    text-decoration: none;
    border-radius: 2px
}

.try_cutPage a.current {
    padding: 0 14px;
    border: 1px solid #ff436b;
    background-color: #ff436b;
    color: #fff;
    margin-right: 3px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-radius: 2px
}

.try_cutPage a:link, .try_cutPage .try_cutPage a:visited {
    -webkit-transition: color .2s linear, background-color .3s linear;
    transition: color .2s linear, background-color .3s linear
}

.adver_cont {
    width: 100%;
    margin: 0;
    padding: 0
}

.adver_cont .advertisement {
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    -webkit-transition: .3s;
    transition: .3s
}

.adver_cont .advertisement img {
    width: 100%;
    height: 100%
}

.adver_cont .advertisement.small {
    height: 60px
}

.left_menu .smrz {
    position: relative
}

.left_menu .smrz .smrzlabel {
    position: absolute;
    left: 113px;
    bottom: 1px
}
